.velkommen {
  font-size: 30px;
  letter-spacing: 1.5px;
  width: 15em;
  line-height: 1.5em;
  margin-top: 1em;
  font-weight: 500;
  margin-bottom: 15px;
}

.container {
  margin: 0 8em 0 8em;
}

.title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
  justify-content: center;
  margin: 0 3em;
  column-gap: 7em;
}

.title-container p {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 2em;
  width: 27em;
  margin-top: 1em;
}

.container img {
  width: 32%;
}

.oversikt-container {
  background-color: rgba(139, 198, 211, 0.29);
  width: 68em;
  border-radius: 29px;
  padding: 2em;
  margin-left: 18em;
  margin-top: 2em;
}

.oversikt-container h2 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.oversikt-container li {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: 0.6px;
}

.oversikt-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.veiviseren-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 62em;
  align-content: center;
  margin-left: 18em;
  margin-top: 2em;
}

.veiviseren-container p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 2em;
  margin-top: 0;
}

.veiviseren-title {
  font-size: 1.45rem;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.underlined {
  text-decoration: underline;
}

.oversikt-videoer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}

.oversikt-videoer h2 {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.oversikt-videoer img {
  width: 52%;
  object-fit: contain;
  margin-top: 2em;
}

.fortsett {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-right: 8em;
}

.fortsett h3 {
  font-size: 20px;
  font-weight: 500;
}

.fortsett h3 a:hover {
  text-decoration: underline;
}

.symbol.last {
  margin: 0 4px;
  font-weight: 600;
  font-size: 35px;
}

@media screen and (max-width: 1410px) {
  .title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1em;
    margin: 0 3em;
    column-gap: 7em;
  }

  .title-container p {
    width: 37em;
  }

  .oversikt-container,
  .veiviseren-container {
    width: 62em;
    padding: 2em;
    margin: 1em 5em;
  }

  .oversikt-videoer h2 {
    margin: 1em 3em;
  }
}

@media screen and (max-width: 1070px) {
  .container {
    display: block;
    margin: 0;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    align-content: flex-start;
  }

  .container img {
    width: 30%;
  }

  .title-container p {
    width: auto;
    margin-top: 1em;
  }

  .velkommen h1 {
    width: auto;
  }

  .oversikt-container {
    margin: 0 75px;
    width: auto;
  }

  .veiviseren-container {
    padding: 10px 55px;
    width: auto;
    margin: 0;
  }

  .oversikt-videoer {
    padding: 10px 50px;
  }

  .oversikt-videoer h2 {
    margin: 0;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .oversikt-videoer img {
    width: 80%;
    object-fit: contain;
    margin-top: 1em;
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .container img {
    width: 60%;
  }

  .velkommen {
    width: 100%;
    margin-top: 0.5em;
    font-size: 24px;
  }

  .title-container p {
    width: 100%;
    font-size: 19px;
  }

  .title-container {
    padding: 0;
  }

  .oversikt-container {
    width: 100%;
    margin-left: 0;
  }

  .oversikt-container h2 {
    font-size: 20px;
  }

  .veiviseren-title {
    font: 21px;
  }

  .veiviseren-container {
    width: 100%;
    padding-left: 19px;
    margin: 0px;
  }

  .oversikt-container ul li {
    font-size: 19px;
  }

  .oversikt-videoer h2 {
    width: 100%;
    font-size: 21px;
    padding: 14px;
    margin: 0;
  }

  .veiviseren-container p {
    font-size: 19px;
  }

  .fortsett {
    margin: 0;
    padding-right: 1em;
  }

  .fortsett h3 {
    font-size: 18px;
  }

  .oversikt-videoer {
    padding: 0;
  }

  .oversikt-videoer img {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (min-width: 1850px) {
  .velkommen {
    font-size: 2.5rem;
  }

  .title-container p {
    font-size: 1.8rem;
  }

  .container img {
    width: 40%;
    max-width: 40%;
  }

  .oversikt-container {
    background-color: rgba(139, 198, 211, 0.29);
    width: 82em;
    border-radius: 29px;
    padding: 2em;
    display: flex;
    margin-left: 14em;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .veiviseren-container {
    width: 80em;
  }

  .oversikt-container h2,
  .veiviseren-title,
  .oversikt-videoer h2 {
    font-size: 2rem;
  }

  .oversikt-videoer h2 {
    margin: 1em 0 0 7.4em;
  }

  .oversikt-container li,
  .veiviseren-container p {
    font-size: 1.7em;
  }

  .oversikt-videoer img {
    width: 60%;
  }

  .fortsett h3 {
    font-size: 1.5rem;
  }
}
